<header>
    <img
        src="assets/img/matheus.jpg"
        alt="Matheus Brendo - Foto de perfil"
        width="130px"
        height="130px"
        loading="eager"
        />
        <h1>Matheus Brendo</h1>
</header>

<aside>
    <div class="Container">
        <p>Full-Stack Developer</p>
        <p>C# | .NET | Java | Spring Boot | Angular | SQL</p>
        <p>São Carlos, São Paulo, Brasil</p>
        <div class="resume">
           <p>
              Desenvolvedor de software com experiência em suporte técnico e bancos de dados, atuando atualmente no desenvolvimento de soluções backend e frontend.
              Tenho formação em Análise e Desenvolvimento de Sistemas e vivência em projetos com .NET e Java, além de integração com bancos de dados Oracle e SQL Server.
              No frontend, desenvolvo interfaces utilizando Angular e WPF, com foco em aplicações modernas, escaláveis e bem estruturadas.
              Atualmente, curso MBA em Engenharia de Software pela USP-Esalq, aprofundando conhecimentos em arquitetura, boas práticas e desenvolvimento de sistemas robustos e eficientes.
              Busco aplicar esses aprendizados na entrega de soluções de qualidade e na evolução constante em projetos desafiadores.
            </p>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/matheus-cv.pdf" target="_blank" class="btn btn-primary" >
                    Download CV
                </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/matheus-brendo/"
                    target="_blank"
                    class="btn btn-secondary" >
                    LinkedIn
                </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img
                src="assets/icons/whatsapp.svg"
                alt="Icone para contato do WhatsApp"
                width="22px"
                height="24px"

                />

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5516991484125&text=Ol%C3%A1%20Matheus,%20preciso%20de%20um%20job!"
                    target="_blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>WhatsApp: (16) 99148-4125</p>
                </a>
                </figcaption>

            </figure>

            <figure>
                <img
                src="assets/icons/mail.svg"
                alt="Icone para contato do e-mail"
                width="22px"
                height="24px"

                />

                <figcaption>
                    <a href="maito:matheus.sousa09@hotmail.com"
                    target="_blank">
                    <strong>Envie um e-mail para:</strong>
                    <p>matheus.sousa09&#64;hotmail.com</p>
                </a>
                </figcaption>

            </figure>
        </section>

    </div>
</aside>
